<!-- <footer class="site-footer">

  <div class="site-footer__contact-info">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>If you would like to see more projects or discuss working together, please get in touch</h2>
          <a href="#0">hello@daniellelamb.co.uk</a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer__featured-work">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Selected work</h2>
          <ul>
            <li><a href="{{ site.url }}/catalogue-design-for-dunelm">Catalogue design and art direction for Dunelm</a></li>
            <li><a href="{{ site.url }}/catalogue-design-for-dunelm">Catalogue design and art direction for Dunelm</a></li>
            <li><a href="{{ site.url }}/catalogue-design-for-dunelm">Catalogue design and art direction for Dunelm</a></li>
            <li><a href="{{ site.url }}/catalogue-design-for-dunelm">Catalogue design and art direction for Dunelm</a></li>
            <li><a href="{{ site.url }}/catalogue-design-for-dunelm">Catalogue design and art direction for Dunelm</a></li>
          </ul>
          <p class="site-footer__featured-work__copyright">&copy; Danielle Lamb 2017</p>
        </div>
      </div>
    </div>
  </div>

</footer> -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <div class="footer__clients-logos">
          <h3>Clients include</h3>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="footer__contact-information">
          <h3>Get in touch</h3>
          <p>If you would like to discuss working together or see further examples of my work, please get in touch.</p>
          <a href="#0">hello@daniellelamb.co.uk</a>
        </div>
      </div>
    </div>
  </div>
</footer>
