<footer class="site-footer">

  <div class="site-footer__contact-info">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>If you would like to see more projects or discuss working together please get in touch</h2>
          <a href="#0">hello@daniellelamb.co.uk</a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer__featured-work">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Selected work</h2>
          <ul>
            <li><a href="#0">Catalogue design and art direction for Dunelm</a></li>
            <li><a href="#0">Catalogue design and art direction for Dunelm</a></li>
            <li><a href="#0">Catalogue design and art direction for Dunelm</a></li>
            <li><a href="#0">Catalogue design and art direction for Dunelm</a></li>
            <li><a href="#0">Catalogue design and art direction for Dunelm</a></li>
          </ul>
          <p class="site-footer__copyright">&copy; Danielle Lamb 2017</p>
        </div>
      </div>
    </div>
  </div>

</footer>

<!-- <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer> -->
