<footer class="footer">
  <div class="footer-background">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="footer__clients-logos">
            <h3>Clients include</h3>
          </div>
        </div>
        <div class="col-md-6">
          <div class="footer__contact-information">
            <h3>Get in touch</h3>
            <p>If you would like to discuss working together or see further examples of my work, please get in touch.</p>
            <a class="footer__contact-link" href="#0">hello@daniellelamb.co.uk</a>
            <a class="footer__contact-link" href="#0">LinkedIn</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <p class="footer__copyright">&copy; Danielle Lamb</p>
        </div>
      </div>
    </div>
  </div>
</footer>
