// Navigation

.site-header__container {
  position: relative;
}

.site-header {
  margin-top: $mar;
  display: flex;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 50;
  border-bottom: 1px solid #9765b7;
  padding-bottom: $pad*2;

  @include bp(sm) {
    margin-top: $mar*2;
  }

  &__logo-container {

    a {
      text-decoration: none;
    }

    &__logo-wrapper--outer {
      justify-content: center;
      align-items: center;

      @include bp(sm) {
        justify-content: flex-start;
      }
    }

    &__logo-wrapper--inner {

      &__logo {
        flex: 0 0 75px;
        margin-right: $mar*1.5;

        @include bp(sm) {
          flex: 0 0 100px;
        }
      }

      &__site-logo {
        min-width: 100%;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
        width: 50px;

        @include bp(sm) {
          width: 75px;
        }

        &:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      &__text {

        &__name {
          color: $white;
          font-size: $base-font-size-large;
          margin-bottom: $mar*0.5;
        }

        &__description {
          font-weight: $base-font-weight;
          font-size: $base-font-size-small;
          font-family: $base-font-family;
          font-style: italic;
          color: $white;
          opacity: 0.8;
          margin-top: 0;
        }
      }
    }
  }

  &__site-navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    @include bp(sm) {
      justify-content: flex-end;
    }

    &__list {
      display: flex;
      list-style: none;
      padding-left: 0;
      font-family: $base-font-family;
      font-size: $base-font-size;
      justify-content: center;

      @include bp(md) {
        text-align: right;
        justify-content: flex-end;
        font-size: $base-font-size-large;
      }

      &__item {
        margin-right: $mar*3;

        &:last-child {
          margin-right: 0;
        }

        @include bp(sm) {
          margin-right: 0;
          margin-left: $mar*2; //20px
        }

        @include bp(md) {
          margin-left: $mar*3; //30px
        }

        a {
          color: $white;
          text-decoration: none;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }

        &--active a {
          opacity: 1;
        }
      }
    }
  }
}

.white-overlay {
  transform: skewY(-5deg);
  transform-origin: 0;
  display: inline-block;
  height: 800px;
  width: 100%;
  background-color: $white;
  margin-top: -$mar*20;

  @include bp(sm) {
    margin-top: -$mar*15;
  }
}


// Home

.heading-banner {
  background: $gradient-pri;
  padding-top: $pad*17;
  padding-bottom: $pad*30;

  @include bp(sm) {
    padding-top: $pad*17;
  }

  &__heading {
    color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.3;
    font-size: 1.5em;
    margin-bottom: $mar*2;

    @include bp(md) {
      font-size: 1.875em;
    }

    @include bp(lg) {
      max-width: 80%;
      font-size: 2.25em;
    }
  }

  &__about-link {
    color: $white;
    text-decoration: none;
    font-family: $base-font-family;
    font-size: $base-font-size;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &__text {
      margin-right: $mar;
    }
  }
}

.featured-work {
  margin-top: -$mar*78;
  margin-bottom: $mar*5;

  @include bp(md) {
    margin-top: -$mar*76;
    margin-bottom: $mar*10;
  }

  &__item {
    margin-bottom: $mar*5;
    border-bottom: 2px solid $col-pri-medium;
    padding-bottom: $pad*2;

    @include bp(md) {
      margin-bottom: $mar*10;
      border-bottom: none;
      padding-bottom: none;
    }

    img {
      max-width: 100%;
    }

    h2 {
      font-size: 1.5em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      @include bp(sm) {
        font-size: 1.875em;
      }

      a {
        text-decoration: none;
        color: $col-pri;

        &:hover {
          color: $col-pri-light-20;
        }
      }
    }
  }
}

.button-wrapper--center {
  text-align: center;
}


// Footer

.footer {
  position: relative;
  z-index: 20;

  &-background {
    background-color: $grey-extra-light;
    padding-top: $pad*4;
    padding-bottom: $pad*4;

    @include bp(md) {
      padding-top: $pad*5;
      padding-bottom: $pad*4;
    }
  }

  h3 {
    font-size: 1.5rem;
    color: $col-pri;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include bp(sm) {
      font-size: 1.875rem;
    }
  }

  p {
    max-width: 360px;
  }

  &__contact-link {
    font-size: 1.125rem;
    font-family: $base-font-family;
    font-weight: 400;
    display: inline-block;
    margin-bottom: $mar;
    margin-right: $mar*2;
  }

  &__copyright {
    text-align: center;
    color: #a5a5a5;
    margin-top: $mar*4;

    @include bp(sm) {
      margin-top: $mar*7;
    }
  }
}


.site-footer {
  position: relative;
  z-index: 20;

  &__contact-info {
    background-color: #EBF1FF;
    text-align: center;
    padding-top: $pad*3;
    padding-bottom: $pad*4;

    @include bp(md) {
      padding-top: $pad*9;
      padding-bottom: $pad*10;
    }

    h2 {
      color: #555;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $mar*2;
      font-size: 1.25em;
      line-height: 1.3;

      @include bp(md) {
        font-size: 1.5em;
      }
    }

    a {
      font-family: $base-font-family;
      font-size: 1.125em;
      color: $col-pri;
      text-decoration: none;
      border-bottom: 1px solid $col-pri;
      padding-bottom: $pad*1;

      &:hover {
        color: $col-pri-light-20;
      }

      @include bp(md) {
        font-size: 1.5em;
      }
    }
  }

  &__featured-work {
    background: $gradient-pri;
    padding-top: $pad*4;
    padding-bottom: $pad*4;
    color: $white;
    text-align: center;

    @include bp(md) {
      padding-top: $pad*8;
      padding-bottom: $pad*8;
    }

    h2 {
      &::after {
        content: ' ';
        height: 1px;
        width: 50px;
        background-color: lighten($col-pri, 5%);
        display: block;
        margin: $mar auto;
        margin-bottom: $mar*2;
      }
    }

    ul {
      padding-left: 0;
      margin-bottom: $mar*5;

      li {
        list-style: none;
        margin-bottom: $mar*2;
        line-height: 1.5;

        a {
          color: $white;
          opacity: 0.8;
          text-decoration: none;
          font-family: $base-font-family;
          font-weight: 400;
          font-size: 1.125em;

          &:hover {
            opacity: 1;
          }

          @include bp(md) {
            font-size: 1.25em;
          }
        }
      }
    }

    &__copyright {
      color: #B2B1E0;
      font-size: 0.875em;
    }
  }
}


// Case studies and portfolio

.casestudy, .portfolio {

  &__header {
    background: $gradient-pri;
    padding-top: $pad*17;
    padding-bottom: $pad*40;

    @include bp(sm) {
      padding-top: $pad*17;
    }

    &__heading {
      color: $white;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-bottom: 15px;

      @include bp (md) {
        font-size: 3em;
      }
    }

    &__sub-heading {
      color: $white;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1.125em;
      margin-top: 15px;

      @include bp (md) {
        font-size: 1.5em;
      }
    }
  }

  &__content {
    margin-top: -$mar*100;
    margin-bottom: $mar*5;
    position: relative;

    @include bp(sm) {
      margin-top: -$mar*102;
    }

    @include bp(md) {
      margin-top: -$mar*103;
      margin-bottom: $mar*10;
    }

    img {
      width: 100%;
      display: block;
    }

    &__hero-image {
      margin-top: 0 !important;
      max-width: 100% !important;
      box-shadow: 0 2px 25px 0 rgba(0,0,0,0.25);
    }

    &__row {
      margin-top: $mar;
      margin-bottom: $mar;

      @include bp(md) {
        margin-top: $mar*3;
        margin-bottom: $mar*3;
      }

      @include bp(lg) {
        margin-top: $mar*5;
        margin-bottom: $mar*5;
      }
    }

    &__testimonial {
      text-align: center;
    }

    &__image--full-width {
      height: 300px;
      background-size: cover;

      @include bp(md) {
        height: 80vh;
        min-height: 450px;
        max-height: 600px;
      }
    }

    p {
      @include bp(md) {
        font-size: 1.125em;
      }
    }

    h3 {
      font-size: 1.5em;
      color: $col-pri;
      margin-top: $mar*2;

      @include bp(md) {
        font-size: 1.875em;
        margin-top: $mar;
      }

      @include bp(lg) {
        font-size: 2.25em;
        margin-top: $mar*3;
      }
    }

    .client-testimonial {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 850px;
      margin-bottom: $mar*5;
      margin-top: $mar*5;

      @include bp (md) {
        margin-bottom: $mar*8;
        margin-top: $mar*8;
      }

      &__quote {
        font-size: 1.125em;
        font-family: $secondary-font-family;
        color: $col-pri;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;

        @include bp (md) {
          font-size: 1.375em;
        }
      }

      &__cite {
        font-weight: 700;
        font-size: 1em;
        font-style: italic;
        color: $col-pri;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;

        span {
          font-weight: 400;
        }
      }
    }

    .button {
      margin-top: $mar*4;
    }
  }
}









// Case studies

.full-width-image-test {
  background: url('../images/hero-image-test.jpg') no-repeat center center;
  background-size: cover;
}
